main-view{
  @extend .full_height;

  .main_wrapper{
    flex: 0;
    flex-wrap: wrap;
  }
  .new_notice{
    padding: 0.5em 1em;
    border: 1px solid black;
    border-radius: 0.2em;
    font-size: 1.5em;

  }
  .hover_button{
    background: white;
    position: relative;
    overflow: hidden;
    display: flex;
    cursor: pointer;
    &:after{
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      display: block;
      transition: 0.5s;
      z-index: 0;
    }
    &:hover{
      color: white;
    }
    &:hover:after{
      box-shadow: 0 0 1em 10em $green;
    }
    .text{
      transition: 0.5s;
      z-index: 1;
    }
    &:hover > .text{
      color: white;
    }
  }

  .filter_wrapp{
    @extend .flex_between;
  }
  .title{
    font-size: 1.2em;
    margin-right: 1em;
  }


  .color_sample{
    display: block;
    height: 1em;
    width: 1em;
  }
  .check_string{
    position: relative;
  }

  .tab_view{
    @extend .flex_default;
    justify-content: space-around;

  }
}
