@import url(../icons/style.css);
.flex_center {
  display: flex;
  justify-content: center;
  align-items: center; }

.flex_column, body {
  display: flex;
  flex-direction: column; }

.flex_between, .main_wrapper, .filter_wrapp {
  display: flex;
  align-items: center;
  justify-content: space-between; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  word-break: break-all; }

html {
  height: 100%; }

body {
  min-height: 100%;
  font-size: 16px;
  font-family: Arial, sans-serif; }

.main_wrapper {
  width: 100%;
  max-width: 90em;
  margin: 0 auto; }

.drop_container {
  padding: 0.8em 1.5em;
  position: relative; }

.filter_name {
  font-size: 1.2em; }

.nav_bar {
  padding: 1em;
  background: #efefef; }

.filter_wrapp {
  color: red; }
